<!-- List Links -->
<div class="row">
  <div class="col-md-8 col-md-push-2 pton-list">
    <h1 class="pton-title">My Links
      <a href="<%= link_path(@conn, :new) %>" class="btn btn-default btn-sm pull-right pton-add-button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </h1>

    <%= render "show_links.html", conn: @conn, links: @links %>
  </div>
</div>
