<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Pton!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">pton.co</li>
          <li><%= link "Home", to: "/" %></li>
          <li><%= link "All Links", to: link_path(@conn, :index) %></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <%= if @conn.assigns[:user] do %>
              <%= link @conn.assigns.user.netid, to: "#" %>
              <ul class="menu vertical">
                <li>
                  <%= link "Sign out", to: auth_path(@conn, :delete) %>
                </li>
              </ul>
            <% else %>
              <%= link "Sign in", to: auth_path(@conn, :request, "cas") %>
            <% end %>
          </li>
        </ul>
      </div>
    </header>
    <div class="container">
      <%# https://medium.com/elixir-magic/writing-a-blog-engine-in-phoenix-and-elixir-part-11-better-ui-f17f3d7efa85 %>
      <div class="row alerts">
        <%= if flash = get_flash(@conn, :info) do %>
        <div class="success callout alert-info" role="alert">
          <%= flash %>
        </div>
        <% end %>

        <%= if flash = get_flash(@conn, :error) do %>
        <div class="alert callout alert-error" role="alert">
          <%= flash %>
        </div>
        <% end %>
      </div>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>$(document).foundation();</script>
  </body>
</html>
