$icon-font-path: "/fonts/";
@import "variables";
@import "bootstrap-custom";
@import "bootswatch";

body {
  padding-top: 70px;
}

.navbar-nav > li > a {
  transition: background 0.2s ease-in-out;
}

.pton-main-navigation {
  .navbar-nav {
    @media (min-width: 768px) {
      margin-right: 0;
    }
  }
  .navbar-brand img {
    height: 1em;
  }
}
