$icon-font-path: "/fonts/";
@import "variables";
@import "bootstrap-custom";
@import "bootswatch";

// Bootstrap Overrides
// ============================================================

body {
  padding-top: 70px;
}

.btn {
  transition: background 0.2s ease-in-out, outline 0.3s ease-in-out;
}

.navbar-nav > li > a {
  transition: background 0.2s ease-in-out;
}

.has-error {
  .form-control, .form-control:focus {
    border-color: $pton-light-pink;
    background-color: $pton-light-pink;
    box-shadow: none;
  }

  .help-block {
    color: $pton-white;
  }
}

// Helper Styles
// ============================================================

// https://stackoverflow.com/a/22196760
.vertical-align {
  align-items: center;
  display: flex;
  min-height: calc(100vh - 70px);
}

// Application Styles
// ============================================================

.pton-main-navigation {
  .navbar-nav {
    @media (min-width: 768px) {
      margin-right: 0;
    }
  }
  .navbar-brand img {
    height: 20px;
    float: left;
    margin-right: 15px;
  }
}

.pton-create-form {
  .inner {
    padding-bottom: 10vh;
  }

  .title {
    font-size: 96px;
    margin-bottom: 56px;
    text-align: center;
  }

  .form-group {
    margin-bottom: 36px;
  }

  .slug-form-group {
    @include center-block();
    width: 50%;
  }

  .submit-form-group .btn {
    @include center-block();
  }
}

.pton-show {
  .inner {
    width: 100%;
  }

  .pton-show-slug {
    background-color: $pton-white;
    font-size: 48px;
    height: 80px;
    text-align: center;
    width: 100%;
  }

  .toolbar {
    display: flex;
    justify-content: space-evenly;
    margin-top: 56px;

    .btn {
      line-height: .75;
    }
  }

  .meta {
    @include center-block();

    font-size: 18px;
    line-height: 2;
    margin-top: 48px;
    max-width: 600px;
    text-align: center;
  }
}

.pton-edit-form {
  .inner {
    padding-bottom: 15vh;
  }

  .title {
    font-size: 48px;
  }

  .form-group {
    margin-top: 24px;
  }

  .button-row {
    margin-top: 36px;
  }

  .control-label {
    font-size: 22px;
    font-weight: normal;
  }

  .btn {
    padding-left: 30px;
    padding-right: 30px;
  }
}
