$icon-font-path: "/fonts/";
@import "variables";
@import "bootstrap-custom";
@import "bootswatch";

// Bootstrap Overrides
// ============================================================

body {
  padding-top: 70px;
}

.btn {
  transition: background 0.2s ease-in-out, outline 0.3s ease-in-out;
}

.navbar-nav > li > a {
  transition: background 0.2s ease-in-out;
}

.has-error {
  .form-control, .form-control:focus {
    border-color: $pton-light-pink;
    background-color: $pton-light-pink;
    box-shadow: none;
  }

  .help-block {
    color: $pton-white;
  }
}

.panel, .panel a:not(.btn) {
  color: $pton-slate;
}

// Helper Styles
// ============================================================

// https://stackoverflow.com/a/22196760
.vertical-align {
  align-items: center;
  display: flex;
  min-height: calc(100vh - 70px);
}

// Application Styles
// ============================================================

.pton-title {
  font-size: 48px;
}

.pton-main-navigation {
  .navbar-nav {
    @media (min-width: 768px) {
      margin-right: 0;
    }
  }
  .navbar-brand img {
    height: 20px;
    float: left;
    margin-right: 15px;
  }
}

.pton-create-form {
  .inner {
    padding-bottom: 10vh;
  }

  .pton-title {
    font-size: 20vw;
    margin-bottom: 56px;
    text-align: center;

    @media (min-width: $screen-xs-min) {
      font-size: 96px;
    }
  }

  .form-group {
    margin-bottom: 36px;
  }

  .slug-form-group {
    @include center-block();
    @media (min-width: $screen-xs-min) {
      width: 50%;
    }
  }

  .submit-form-group .btn {
    @include center-block();
  }
}

.pton-show {
  .inner {
    width: 100%;
  }

  .pton-show-slug {
    background-color: $pton-white;
    font-size: 48px;
    height: 80px;
    text-align: center;
    width: 100%;
  }

  .toolbar {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin-top: 56px;

    .btn {
      line-height: .75;
      margin-bottom: 1em;
    }
  }

  .meta {
    @include center-block();

    font-size: 18px;
    line-height: 2;
    margin-top: 24px;
    max-width: 600px;
    text-align: center;

    .target {
      word-wrap: break-word;
    }
  }
}

.pton-edit-form {
  .inner {
    padding-bottom: 15vh;
  }

  .form-group {
    margin-top: 24px;
  }

  .button-row {
    margin-top: 36px;
  }

  .control-label {
    font-size: 22px;
    font-weight: normal;
  }

  .btn {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.pton-list {
  .pton-title {
    margin-bottom: 21px;
  }

  .pton-add-button {
    margin-top: 18px;
  }

  .meta-container {
    float: left;
    max-width: calc(100% - 100px);
  }

  .actions-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: flex-end;
    height: 65px;
  }

  .link-slug {
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a:hover {
      text-decoration: none;
    }
  }

  .link-url {
    display: block;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    a:hover {
      text-decoration: none;
    }
  }
}
